@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;

    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #39aae1;
    pointer-events: none;
}

nav a:hover {
   background-color: #39aae1;
   color: #fff;
   transition: 1s;
   border-radius: 4px;
}